<!--The content below is only a placeholder and can be replaced.-->
   <div class="container-fluid">
     <div class="row entete">
       <div class="col-md-1 col-sm-6"> <img [attr.src]="server+world.logo" alt="Logo pataterie" height="100" width="100"/></div>
       <div class="col-md-4 col-sm-6" style="font-size:30px;">{{title}}</div>
       <div class="col-md-2 col-sm-6">Score</div>
       <div class="col-md-1"></div>
       <div class="col-md-1 col-sm-6">Multi</div>
       <div class="col-md-3">Pseudo</div>
     </div>
     <div class="row">
       <div class="col-md-4">
         <div class="row">Unlocks</div>
         <div class="row">Cash Upgrades</div>
         <div class="row">Angel Upgrades</div>
         <div class="row">Managers</div>
         <div class="row">Investors</div>
       </div>
       <div class="col-md-4">
         <div>
         <div class="row">
           <div class="col-md-4">Image</div>
           <div class="col-md-8">Progression</div>
         </div>
         <div class="row">
           <div class="col-md-4">Quantité</div>
           <div class="col-md-5">Coût</div>
           <div class="col-md-3">Temps</div>
         </div>
       </div>
       <div>
       <div class="row">
         <div class="col-md-4">Image</div>
         <div class="col-md-8">Progression</div>
       </div>
       <div class="row">
         <div class="col-md-4">Quantité</div>
         <div class="col-md-5">Coût</div>
         <div class="col-md-3">Temps</div>
       </div>
     </div>
     <div>
     <div class="row">
       <div class="col-md-4">Image</div>
       <div class="col-md-8">Progression</div>
     </div>
     <div class="row">
       <div class="col-md-4">Quantité</div>
       <div class="col-md-5">Coût</div>
       <div class="col-md-3">Temps</div>
     </div>
   </div>
       </div>
       <div class="col-md-4">
         <div>
         <div class="row">
           <div class="col-md-4">Image</div>
           <div class="col-md-8">Progression</div>
         </div>
         <div class="row">
           <div class="col-md-4">Quantité</div>
           <div class="col-md-5">Coût</div>
           <div class="col-md-3">Temps</div>
         </div>
       </div>
       <div>
       <div class="row">
         <div class="col-md-4">Image</div>
         <div class="col-md-8">Progression</div>
       </div>
       <div class="row">
         <div class="col-md-4">Quantité</div>
         <div class="col-md-5">Coût</div>
         <div class="col-md-3">Temps</div>
       </div>
     </div>
     <div>
     <div class="row">
       <div class="col-md-4">Image</div>
       <div class="col-md-8">Progression</div>
     </div>
     <div class="row">
       <div class="col-md-4">Quantité</div>
       <div class="col-md-5">Coût</div>
       <div class="col-md-3">Temps</div>
     </div>
   </div>
       </div>
     </div>
   </div>
