<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row entete">
    <div class="col-md-1 col-sm-6 logo"> <img [attr.src]="'server'+'icones/'+world.logo" alt="Logo pataterie" height="auto" width="100%"/></div>
    <div class="col-md-4 col-sm-6 titre">{{world.name}}</div>
    <div class="col-md-3 col-sm-6 score"><span class="score" [innerHTML]="world.money | bigvalue"></span>$</div>
    <div class="col-md-1"></div>
    <div (click)="toggleMulti()" class="col-md-1 col-sm-6 multi"><span>X </span><span>{{qtmulti}}</span></div>
    <div class="col-md-2">Pseudo</div>
  </div>
  <div class="row">
    <div class="col-md-2 menu">
      <div class="row">Unlocks</div>
      <div class="row">Cash Upgrades</div>
      <div class="row">Angel Upgrades</div>
      <div class="row">Managers</div>
      <div class="row">Investors</div>
    </div>
    <div class="col-md-5 colonne">
      <app-product (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[0]" [qtmulti]="qtmulti" [money]="world.money" class="product"></app-product>
      <app-product (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[1]" [qtmulti]="qtmulti" [money]="world.money" class="product"></app-product>
      <app-product (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[2]" [qtmulti]="qtmulti" [money]="world.money" class="product"></app-product>
    </div>
    <div class="col-md-5 colonne">
      <app-product (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[3]" [qtmulti]="qtmulti" [money]="world.money" class="product"></app-product>
      <app-product (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[4]" [qtmulti]="qtmulti" [money]="world.money" class="product"></app-product>
      <app-product (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" [prod]="world.products.product[5]" [qtmulti]="qtmulti" [money]="world.money" class="product"></app-product>
    </div>
  </div>
</div>
